/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/10/2020, 11:49:02 AM
    Author     : Gianmarco
*/

.container-fluid #cabecera
{
              height: 150px;
    background-color: #f7abff;
    
}

.container-fluid #pie
{
              height: 300px;
    background-color: #f7abff;
          margin-top: 100px; 
}

.container
{
    margin-top: 100px;
}
