/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/10/2020, 11:49:02 AM
    Author     : Gianmarco
*/

.container-fluid #cabecera
{
              height: 100px;
    background-color: #f7abff;
    
}

.container-fluid #pie
{
              height: 300px;
    background-color: #f7abff;
          margin-top: 100px; 
}

.container
{
    margin-top: 100px;
}

.container-fluid #links
{
              height: 50px;
    background-color: #f7abff;
          text-align: right;
}
.container-fluid #links input[type=text]
{
          width: 120px;
           height: 28px;
          padding: 12px 20px;
           margin: 8px 0;
          display: inline-block;
           border: 1px solid #ccc;
    border-radius: 4px;
       box-sizing: border-box;
}
.container-fluid #links input[type=password]
{
            width: 120px;
           height: 28px;
          padding: 12px 20px;
           margin: 8px 0;
          display: inline-block;
           border: 1px solid #ccc;
    border-radius: 4px;
       box-sizing: border-box;
}